@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*FUNKCIÓK*/



/*FUNKCIÓK*/

/*ALAP ELEMEK*/
html{ /*Footer tökéletes igazításához...*/
    height: 100%;
    box-sizing: border-box;
    font-family: Roboto !important;
}

body{ /*Footer tökéletes igazításához...*/
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 6.74rem;
    box-sizing: inherit;
}

.nav-link {
    color: white !important;
    font-family: Roboto !important;
    }
.nav-link:hover {
    color: #7c7fc4 !important;
    font-family: Roboto !important;
    }

/*.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-color: white !important;
    }*/

.navbar-toggler {
    color: white !important;
    background-color: rgba(255, 255, 255, 0.25) !important;
    border: 0px !important;
}

.navbar-toggler-icon {
    background-image: url(icons/hamburger.png) !important;
    background-size: 110% !important;
}

.active{
    color: #A1A3ED !important;
}

.bg-custom{
    background-color: #a1a3ed54;
    font-size: 30px;
}

.navLogo{
    width: 100px;
    animation: linkEnter 1s ease 0s 1 normal forwards;
}

body{
    background-image: url(backgrounds/fohatter.jpg);
}

footer{
    background-color: #a1a3ed54;
    height: 150px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}
a:link{
    text-decoration: none;
}
.copyright{
    font-family: Roboto;
    font-size: 30px;
    padding-top: 60px;
    padding-left: 30px;
    color: white;
    position: absolute;
}
.footerLogo{
    width: 150px;
    position: absolute;
    right: 0;
    padding-top: 40px;
    padding-right: 30px;
}

.pageTitle{
    text-align: center;
    padding-top: 2%;
    font-family: Roboto;
    font-size: 410%;
    color: white;
    text-shadow: 10px 10px 12px #000000;
}

.pageDes{
    text-align: center;
    color: white;
    font-size: 150%;
}

.shadowAdd{
    text-shadow: 10px 10px 12px #000000;
}

hr{
    border: 10px solid #7c7fc4 !important;
    border-radius: 5px !important;
}
/*ALAP ELEMEK*/

/*FŐOLDAL*/
.headH{
    color: white;
    font-family: Roboto;
    font-size: 6vw;
    text-align: center;
    padding-top: 3vw;
    padding-bottom: 3vw;
    text-shadow: 10px 10px 12px #000000;
}

.headH img{
    width: 15%;
    animation: linkEnter 3s ease 0s 1 normal forwards;
}
@keyframes linkEnter {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.homeCard{
    width: 95%;
    height: 90%;
    background-color: #A1A3ED;
    border: #7c7fc4 5px solid;
    margin: auto;
    border-radius: 50px;
    animation: cardUnhover 0.5s ease 0s 1 normal forwards; 
}

.homeCard:hover{
    animation: cardHover 0.5s ease 0s 1 normal forwards; 
}
@keyframes cardHover {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.1);
	}
}
@keyframes cardUnhover {
	0% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.homeCardSpace{
    height: 5vw;
}

.cardText{
    text-align: center;
    font-size: 3.5vw;
    color: white;
    padding-top: 4.5vw;
    font-family: Roboto;
}
.nevsorCard{
    background-image: url(backgrounds/nevsor.jpg);
    background-size: cover;
}
.esemenyCard{
    background-image: url(backgrounds/esemenyek.jpg);
    background-size: cover;
}
.segedanyagCard{
    background-image: url(backgrounds/segedanyagok.jpg);
    background-size: cover;
}
.galeriaCard{
    background-image: url(backgrounds/orarend.jpg);
    background-size: cover;
}
.kretaCard{
    background-image: url(backgrounds/kreta.jpg);
    background-size: cover;
}
.githubCard{
    background-image: url(backgrounds/github.jpg);
    background-size: cover;
}
/*FŐOLDAL*/

/*NÉVSOR*/
.listTitle{
    text-align: left;
    padding-top: 2%;
    font-family: Roboto;
    font-size: 350%;
    color: white;
    text-shadow: 10px 10px 12px #000000;
}

.listNames{
    text-align: left;
    padding-top: 2%;
    padding-bottom: 15%;
    font-family: Roboto;
    font-size: 175%;
    color: white;
    text-shadow: 10px 10px 12px #000000;
}
/*NÉVSOR*/
/*ESEMÉNYEK*/

.rovEsem{
    width: 90%;
    height: auto;
    margin: auto;
    background-color: #A1A3ED;
    border: #7c7fc4 5px solid;
    margin-top: 30px;
    border-radius: 50px;
    text-align: center;
}

.rovEsemText{
    font-size: 220%;
    font-family: Roboto;
}

.rovEsemLink{
    padding-left: 3vw;
    padding-right: 3vw;
    font-size: 90%;
    font-family: Roboto;
    color: white;
}

.rovEsemLink:hover{
    color: #7c7fc4;
}

@media (min-width: 376px) {
    .esemCard{
        width: 85%;
        height: 400px;
        margin: auto;
        margin-top: 8%;
        background-color: #A1A3ED;
        border: #7c7fc4 5px solid;
        border-radius: 50px;
        animation: cardUnhover 0.5s ease 0s 1 normal forwards; 
    }
}
@media (min-width: 768px) {
    .esemCard{
        width: 85%;
        height: 200px;
        margin: auto;
        margin-top: 2%;
        background-color: #A1A3ED;
        border: #7c7fc4 5px solid;
        border-radius: 50px;
        animation: cardUnhover 0.5s ease 0s 1 normal forwards; 
    } 
}

.esemCard:hover{
    animation: cardHover 0.5s ease 0s 1 normal forwards; 
}

.cardTitle{
    padding-left: 5%;
    font-size: 200%;
    font-family: Roboto;
}

.cardDes{
    padding-left: 3%;
    font-size: 120%;
    font-family: Roboto;
    color: white;
}

.listNap{
    background-color: #A1A3ED;
    border: #7c7fc4 5px solid;
    width: 300px;
    border-radius: 50px;
    text-align: center;
    color: black;
    font-family: Roboto;
    margin: auto;
}


/*Naptár*/
table{
    table-layout: fixed ;
    width: 100% ;
  }
td{
    width: 25% ;
}
table th {
    border: 1px solid #7c7fc4;
  }


.napBase{
    background-color: #A1A3ED;
    border: #7c7fc4 5px solid;
    width: 90%;
    height: 900px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 50px;
}

.pastMonth{
    color: gray;
}

@media (min-width: 376px){
    .napMonth{
        text-align: center;
        font-size: 150%;
    }
    
    .napTable{
        width: 95%;
        height: 90%;
        font-size: 50%;
        font-family: Roboto;
        margin: auto;
    }
    
    .napDay{
        font-size: 150%;
        text-align: center;
    }
    
    .napEsem{
        text-align: center;
        color: white;
        animation: cardUnhoverBig 0.1s ease 0s 1 normal forwards;
        position: relative;
    }
    .napEsem:hover{
        color: red;
        animation: cardHoverBig 0.1s ease 0s 1 normal forwards;
        z-index: 100;
    }
}
@media (min-width: 776px){
    .napMonth{
        text-align: center;
        font-size: 200%;
    }
    
    .napTable{
        width: 95%;
        height: 90%;
        font-size: 100%;
        font-family: Roboto;
        margin: auto;
    }
    
    .napDay{
        font-size: 150%;
        text-align: center;
    }
    
    .napEsem{
        text-align: center;
        color: white;
        animation: cardUnhoverBig 0.1s ease 0s 1 normal forwards;
        position: relative;
    }
    .napEsem:hover{
        color: red;
        animation: cardHoverBig 0.1s ease 0s 1 normal forwards;
        z-index: 100;
    }
}
@media (min-width: 1200px){
    .napMonth{
        text-align: center;
        font-size: 300%;
    }
    
    .napTable{
        width: 90%;
        height: 90%;
        font-size: 150%;
        font-family: Roboto;
        margin: auto;
    }
    
    .napDay{
        font-size: 150%;
        text-align: center;
    }
    
    .napEsem{
        text-align: center;
        color: white;
        animation: cardUnhoverBig 0.1s ease 0s 1 normal forwards;
        position: relative;
    }
    .napEsem:hover{
        color: red;
        animation: cardHoverBig 0.1s ease 0s 1 normal forwards;
        z-index: 100;
    }
}
@keyframes cardHoverBig {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(3);
	}
}
@keyframes cardUnhoverBig {
	0% {
		transform: scale(3);
	}

	100% {
		transform: scale(1);
	}
}

/*Részletes*/
.reszCard{
    width: 90%;
    height: auto;
    background-color: #A1A3ED;
    border: #7c7fc4 5px solid;
    border-radius: 20px;
    margin-bottom: 50px;
    animation: cardUnhover 0.5s ease 0s 1 normal forwards; 
}
.reszCard:hover{
    animation: cardHover 0.5s ease 0s 1 normal forwards; 
}

.reszElem{
    font-family: Roboto;
    font-size: 100%;
    color: white;

}
/*ESEMÉNYEK*/

/*SEGÉDANYAGOK*/
@media (min-width: 0px){
    .sanyagCard{
        height: 150px;
        width: 100%;
        background-color: #A1A3ED;
        border: #7c7fc4 5px solid;
        border-radius: 20px;
        margin: auto;
        margin-bottom: 30px;
        animation: cardUnhover 0.5s ease 0s 1 normal forwards; 
    }
    .sanyagCard:hover{
        animation: cardHover 0.5s ease 0s 1 normal forwards; 
    }
}

@media (min-width: 576px){
    .sanyagCard{
        height: 200px;
        width: 100%;
        background-color: #A1A3ED;
        border: #7c7fc4 5px solid;
        border-radius: 20px;
        margin: auto;
        margin-bottom: 30px;
        animation: cardUnhover 0.5s ease 0s 1 normal forwards; 
    }
    .sanyagCard:hover{
        animation: cardHover 0.5s ease 0s 1 normal forwards; 
    }
}

@media (min-width: 1200px){
    .sanyagCard{
        height: 150px;
        width: 100%;
        background-color: #A1A3ED;
        border: #7c7fc4 5px solid;
        border-radius: 20px;
        margin: auto;
        margin-bottom: 30px;
        animation: cardUnhover 0.5s ease 0s 1 normal forwards; 
    }
    .sanyagCard:hover{
        animation: cardHover 0.5s ease 0s 1 normal forwards;
    }
}

.sanyagTitle{
    font-family: Roboto;
    font-size: 175%;
    padding-top: 20px;
}

.sanyagDes{
    font-family: Roboto;
    font-size: 100%;
}

.sanyagLink{
    color: white;
    font-family: Roboto;
    font-size: 150%;
}
.sanyagLink:hover{
    color: white;
    font-family: Roboto;
    font-size: 180%;
    animation: glow 0.3s ease-in-out infinite alternate;
}

.sanyagLink:active{
    color: white;
    font-family: Roboto;
    font-size: 150%;
    animation: glow2 0.1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e632, 0 0 40px #00e632, 0 0 50px #00e632, 0 0 60px #00e632, 0 0 70px #00e632;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #4dffb5, 0 0 40px #4dffb5, 0 0 50px #4dffb5, 0 0 60px #4dffb5, 0 0 70px #4dffb5, 0 0 80px #4dffb5;
    }
  }
  @keyframes glow2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e69d00, 0 0 40px #e69d00, 0 0 50px #e69d00, 0 0 60px #e69d00, 0 0 70px #e69d00;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #f3ff4d, 0 0 40px #f3ff4d, 0 0 50px #f3ff4d, 0 0 60px #f3ff4d, 0 0 70px #f3ff4d, 0 0 80px #f3ff4d;
    }
  }
/*SEGÉDANYAGOK*/

/*GALÉRIA*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    padding-bottom: 5%;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
/*GALÉRIA*/

/*ÓRAREND*/
/*ÓRAREND*/
.timeBase{
    background-color: #A1A3ED;
    border: #7c7fc4 5px solid;
    width: 90%;
    height: 1050px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 50px;
}
/*CUSTOM SCROLLBAR*/
/*CUSTOM SCROLLBAR*/